<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelmap</key>
	<dict>
		<key>mapfile</key>
		<string>tilemap0.tmx</string>
		<key>tildfile</key>
		<string>tiles.png</string>
		<key>bgimg</key>
		<string>playbg.png</string>
	</dict>
	<key>levelinfo</key>
	<dict>
		<key>levelnum</key>
		<integer>1</integer>
		<key>money</key>
		<integer>4800</integer>
		<key>npcgroup</key>
		<array>
			<array>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>npc_HP</key>
					<integer>40</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>3</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>40</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>3</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>30</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>npc_HP</key>
					<integer>10</integer>
					<key>npc_Speed</key>
					<string>0.5</string>
					<key>npc_Price</key>
					<string>100</string>
					<key>npc_Type</key>
					<string>1</string>
				</dict>
			</array>
		</array>
	</dict>
</dict>
</plist>
