<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelinfo</key>
	<dict>
		<key>levelnumber</key>
		<integer>1</integer>
		<key>money</key>
		<integer>450</integer>
		<key>group</key>
		<array>
			<array>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>2</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.3</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.3</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>2</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
				<dict>
					<key>npctype</key>
					<string>1</string>
					<key>npchp</key>
					<string>100</string>
					<key>npcspeed</key>
					<string>0.5</string>
					<key>npcprice</key>
					<string>10</string>
				</dict>
			</array>
		</array>
	</dict>
	<key>mapinfo</key>
	<dict>
		<key>mapfile</key>
		<string>tilemap0.tmx</string>
		<key>maptiled</key>
		<string>tiles.png</string>
		<key>backimg</key>
		<string>playbg1.png</string>
	</dict>
</dict>
</plist>
